// imports
@import './Layouts/layouts';
@import './Burger/burgerIngredients';
@import './Burger/burger';
@import './Burger/BuildControls/buildcontrols';
@import './backdrop';
@import './modal';
@import './shared';
@import './buttons';


@font-face {
    font-family: 'Lora Bold';
    src: url('../Fonts/Lora/Lora-Bold.ttf');
}

@font-face {
    font-family: 'Lora Medium';
    src: url('../Fonts/Lora/Lora-Medium.ttf');
}

body {
    font-family: 'Lora Medium';
}