.Toolbar {
    width: 100%;
    height: 56px;
    position: fixed;
    background-color: #703B09;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; //top and bottom, left and right respectively
    box-sizing: border-box;
    z-index: 90%;

    .Logo {
        height: 100%
    }
}

 nav {
    height: 100%;
}

@media (max-width: 500px) {
    .DesktopOnly {
        display: none;
    }
}

